# .functions

function dtm() {
    for arg in "$@"; do
        echo "Modifying $arg"
        devtool modify "$arg"
    done
}

function gsa() {
    for dir in */; do
        if [ -d "$dir/.git" ]; then
            echo "$dir"
            git -C "$dir" status -s
        fi
    done
}
