# .functions

function dtm() {
    for arg in "$@"; do
        echo "Modifying $arg"
        devtool modify "$arg"
    done
}

function gsa() {
    for dir in */; do
        if [ -d "$dir/.git" ]; then
            echo "$dir"
            git -C "$dir" status -s
        fi
    done
}

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	command yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ "$cwd" != "$PWD" ] && [ -d "$cwd" ] && builtin cd -- "$cwd"
	command rm -f -- "$tmp"
}
